body {
    font-family: Arial, sans-serif;
    font-size: 2em;
}

.block {
    background-color:rgb(255, 185, 100);
    border-radius: 6px;
    width: fit-content;
    padding: 1em;
    justify-self: center;
    border: solid;
    transition: box-shadow 0.3s;
}

#my-name {
    background-color: white;
}

.block:hover {
    box-shadow: 5px 5px 5px black;
}

.block-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3em;
}

#my-name {
    grid-column: 1 / 4;
}

.hidden {
    opacity: 0;
}